{% extends "auctions/layout.html" %}

{% block title %} Index {% endblock %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="cards">
    {% for item in auction_list %}
            <div class="item_information">

                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
                <div class=" images">
                    <img src="{{ item.image_url }} " alt="image of {{ item.title }}">
                </div>
                <div class="prices">
                    <p>${{ item.current_price }}</p> 
                </div>
                <form action="{% url 'product_details' item.id %}">
                    <button name="details">See more!</button>
                </form>
            </div>
    {% empty %}
            <h2>Not Listing avaliable at the moment.</h2>
    {% endfor %}
    </div>
    
{% endblock %}