{% extends "auctions/layout.html" %}

{% block title %} Index {% endblock %}

{% block body %}
    <h2>Active Listings</h2>
    {% for item in auction_list %}
        <div class="auction-cards">
            <div class="card-info">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
                <p>${{ item.current_price }}</p>
                <form action="{% url 'product_details' item.id %}">
                    <button name="details">See more!</button>
                </form>
            </div>
            <div class="card-image">
                <img src="{{ item.image_url }} " alt="image of {{ item.title }}">
            </div>
        </div> 
    {% empty %}
            <h2>Not Listing avaliable at the moment.</h2>
    {% endfor %}
    
{% endblock %}